

	/*首页部分开始*/
	@keyframes sayfade{
		0%{
			opacity: 0.2;
			transform: translateY(100px);
		}
		100%{
			opacity: 1;
			transform: translateY(0);
		}
	}
	
	/*首页部分结束*/
	
	/*首页部分开始*/
	/*首页部分结束*/
	
	
	/*首页部分开始*/
	/*首页部分结束*/
	
	
	/*首页部分开始*/
	/*首页部分结束*/
	
	
	/*首页部分开始*/
	/*首页部分结束*/
	
	
	/*首页部分开始*/
	/*首页部分结束*/
	